{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="NumCadre">
        <button class="btn4 btn">
          <span class="btn4_txt btn_txt">
             06.00.10.00.00
          </span>
        </button>
</div>

    <div class="welcome">
        <h2 class="welcome-title">Bienvenue au Salon de Sashi !</h2>
        <p class="welcome-text">
            Le bien-être de vos animaux  au centre de mes pratiques professionnelles pour que les soins
            soient effectués dans le respect et la bienveillance.
        </p>
    </div>


    <div class="center">
        <div class="carousel-wrapper">
            <!-- abstract radio buttons for slides -->
            <input id="slide1" type="radio" name="controls" checked="checked" />
            <input id="slide2" type="radio" name="controls" />
            <input id="slide3" type="radio" name="controls" />
            <input id="slide4" type="radio" name="controls" />
            <input id="slide5" type="radio" name="controls" />

            <!-- navigation dots -->
            <label for="slide1" class="nav-dot"></label>
            <label for="slide2" class="nav-dot"></label>
            <label for="slide3" class="nav-dot"></label>
            <label for="slide4" class="nav-dot"></label>
            <label for="slide5" class="nav-dot"></label>

            <!-- arrows -->
            <label for="slide1" class="left-arrow"> < </label>
            <label for="slide2" class="left-arrow"> < </label>
            <label for="slide3" class="left-arrow"> < </label>
            <label for="slide4" class="left-arrow"> < </label>
            <label for="slide5" class="left-arrow"> < </label>

            <label for="slide1" class="right-arrow"> > </label>
            <label for="slide2" class="right-arrow"> > </label>
            <label for="slide3" class="right-arrow"> > </label>
            <label for="slide4" class="right-arrow"> > </label>
            <label for="slide5" class="right-arrow"> > </label>

            <div class="carousel">
                <ul>
                    <li>
                        <img src="{{ asset(('images/example_gallery2.jpg')) }}" alt="photo des clients du salon">
                    </li>
                    <li>
                        <img src="{{ asset(('images/example_gallery3.jpg')) }}" alt="photo des clients du salon">
                    </li>
                    <li>
                        <img src="{{ asset(('images/example_gallery4.jpg')) }}" alt="photo des clients du salon">
                    </li>
                    <li>
                        <img src="{{ asset(('images/example_gallery5.jpg')) }}" alt="photo des clients du salon">
                    </li>
                    <li>
                        <img src="{{ asset(('images/example_gallery6.jpg')) }}" alt="photo des clients du salon">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="gallery-title">
    <button class="button-gallery-title">
      <a href="{{ path('app_gallery') }}">GALERIE PHOTOS</a>
    </button>
    </div>

{% endblock %}